<a ui-sref="index">
     首页
</a>
<a ui-sref="index1">
    首页1
</a>
<!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
<!--<ul class="nav nav-tabs" role="tablist">-->
    <!--<li role="presentation" ng-class="{active:one.table===1}">-->
        <!--<a ng-click="one.tabs(1)" href="#home" role="tab" data-toggle="tab">Home</a>-->
    <!--</li>-->
    <!--<li role="presentation" ng-class="{active:one.table===2}">-->
        <!--<a ng-click="one.tabs(2)" href="#profile" role="tab" data-toggle="tab">Profile</a>-->
    <!--</li>-->

<!--</ul>-->

<!--&lt;!&ndash; Tab panes &ndash;&gt;-->
<!--<div class="tab-content">-->
    <!--<div role="tabpanel" class="tab-pane " ng-class="{active:one.table===1}"  id="home">111</div>-->
    <!--<div role="tabpanel" class="tab-pane" ng-class="{active:one.table===2}" id="profile">222</div>-->

<!--</div>-->